<a href="https://colab.research.google.com/github/dong-uk-kim97/Exploration/blob/main/Exploration_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11번 노드 : load_digits

## 필요한 모듈 import 하기

In [133]:
import pandas as pd
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

라벨을 포함한 데이터프레임을 만들 예정이기 때문에 pandas를 import해준다. 그리고 dateset을 불러오고 trainset과 testset을 구분해줄 train_test_split 메소드를 불러온다. 그리고 정확도를 검증할 classification_report도 import한다.

## 넘파이 배열로 변환

In [134]:
digit = load_digits()
digit_data = digit.data
print(digit_data.shape)

(1797, 64)

## 샘플 확인하기

In [135]:
digit.data[0]

array([ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.,  0.,  0., 13., 15., 10.,
       15.,  5.,  0.,  0.,  3., 15.,  2.,  0., 11.,  8.,  0.,  0.,  4.,
       12.,  0.,  0.,  8.,  8.,  0.,  0.,  5.,  8.,  0.,  0.,  9.,  8.,
        0.,  0.,  4., 11.,  0.,  1., 12.,  7.,  0.,  0.,  2., 14.,  5.,
       10., 12.,  0.,  0.,  0.,  0.,  6., 13., 10.,  0.,  0.,  0.])

digit.data[0]으로 데이터 형태를 확인할 수 있다.

## 라벨 확인

In [136]:
digit_label = digit.target
print(digit_label.shape)
digit_label

(1797,)

array([0, 1, 2, ..., 8, 9, 8])

## target_name 확인

In [137]:
digit.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## DataFrame 생성

In [138]:
digit_df = pd.DataFrame(data=digit_data, columns=digit.feature_names)
digit_df['label']=digit.target
digit_df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,label
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

판다스를 이용하여 feature_names와 label을 동시에 부여하는 데이터 프레임을 만들었다.

## train_set 과 test_set 나누기

In [139]:
X_train, X_test, y_train, y_test = train_test_split(digit_data, digit_label, test_size=0.2, random_state=50)

X_train, X_test, y_train, y_test 변수를 지정하고 거길에 맞게 할당해주기 위해 train_test_split 메소드를 사용해준다.

### train_set과 test_set 잘 나뉘었는지 확인

In [140]:
X_train.shape, y_train.shape

((1437, 64), (1437,))

In [141]:
X_test.shape, y_test.shape

((360, 64), (360,))

## 모델 학습시키기

### DecisionTreeClassifier로 학습

In [142]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier(random_state=50)
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=50)

학습을 했으니 모델이 잘 학습했는지 score()함수를 통해서 모델을 평가해본다.

In [143]:
print(decision_tree.score(X_train,y_train))
print(decision_tree.score(X_test, y_test))

1.0
0.8444444444444444

DecisionTreeClassifier는 과대적합이 일어나기 때문에 적합하지 않다.

### RandomForestClassifier 사용하기

In [144]:
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(digit_data, digit_label, test_size=0.2, random_state=50)

random_forest = RandomForestClassifier(random_state=80)
random_forest.fit(X_train, y_train)
print(random_forest.score(X_train,y_train))
print(random_forest.score(X_test, y_test))

1.0
0.9666666666666667

trainset과 testset의 평가가 큰 차이를 보이고 있지 않다. 이제 classification_report 메소드를 통해 precision과 recall, f1-score를 알아 보고자 한다.

In [145]:
y_pred = random_forest.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        41
           1       0.95      1.00      0.98        42
           2       0.98      1.00      0.99        45
           3       1.00      0.93      0.96        29
           4       0.97      1.00      0.98        31
           5       0.97      0.94      0.95        31
           6       1.00      0.97      0.99        38
           7       0.94      0.97      0.96        35
           8       0.96      0.89      0.93        28
           9       0.93      0.95      0.94        40

    accuracy                           0.97       360
   macro avg       0.97      0.96      0.96       360
weighted avg       0.97      0.97      0.97       360

### SVM 모델 사용하기

In [146]:
from sklearn import svm

X_train, X_test, y_train, y_test = train_test_split(digit_data, digit_label, test_size=0.2, random_state=50)

svm_model = svm.SVC(random_state=80)
svm_model.fit(X_train, y_train)
print(svm_model.score(X_train,y_train))
print(svm_model.score(X_test, y_test))

0.9958246346555324
0.9861111111111112

SVM모델도 평가 점수에서 큰 차이를 보이고 있지 않다. classification_report 메소드로 precision과 recall, f1-score를 알아보고자 한다.

In [147]:
y_pred = svm_model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99        41
           1       0.98      1.00      0.99        42
           2       1.00      1.00      1.00        45
           3       1.00      0.97      0.98        29
           4       0.97      1.00      0.98        31
           5       0.97      0.97      0.97        31
           6       1.00      1.00      1.00        38
           7       1.00      0.97      0.99        35
           8       1.00      0.96      0.98        28
           9       0.95      1.00      0.98        40

    accuracy                           0.99       360
   macro avg       0.99      0.98      0.99       360
weighted avg       0.99      0.99      0.99       360

## SGD Classifier 모델 사용하기

In [148]:
from sklearn.linear_model import SGDClassifier
sgd_model = SGDClassifier(random_state = 80)
X_train, X_test, y_train, y_test = train_test_split(digit_data, digit_label, test_size=0.2, random_state=50)

sgd_model.fit(X_train, y_train)
print(sgd_model.score(X_train,y_train))
print(sgd_model.score(X_test,y_test))

0.9721642310368824
0.9333333333333333

과대적합이라고 보일 만큼의 차이를 보이고 있지 않다. 역시 classification_report메소드로 precision과 recall, f1-score를 알아보고자 한다.

In [149]:
y_pred = sgd_model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.95      0.97        41
           1       1.00      0.76      0.86        42
           2       1.00      1.00      1.00        45
           3       0.96      0.93      0.95        29
           4       0.97      0.97      0.97        31
           5       0.97      0.90      0.93        31
           6       1.00      1.00      1.00        38
           7       0.97      0.91      0.94        35
           8       0.64      1.00      0.78        28
           9       0.90      0.93      0.91        40

    accuracy                           0.93       360
   macro avg       0.94      0.94      0.93       360
weighted avg       0.95      0.93      0.94       360

## Logistic Regression 사용하기

In [150]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

logistic_model = LogisticRegression(random_state=80)
X_train, X_test, y_train, y_test = train_test_split(digit_data, digit_label, test_size=0.2, random_state=50)

logistic_model.fit(X_train, y_train)
print(logistic_model.score(X_train, y_train))
print(logistic_model.score(X_test, y_test))

1.0
0.9694444444444444

In [151]:
y_pred = logistic_model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        41
           1       0.95      0.95      0.95        42
           2       1.00      1.00      1.00        45
           3       0.96      0.93      0.95        29
           4       0.94      0.97      0.95        31
           5       1.00      0.90      0.95        31
           6       1.00      1.00      1.00        38
           7       1.00      0.94      0.97        35
           8       0.96      0.96      0.96        28
           9       0.89      1.00      0.94        40

    accuracy                           0.97       360
   macro avg       0.97      0.97      0.97       360
weighted avg       0.97      0.97      0.97       360

나는 SVM모델이 가장 적합한 모델이라고 생각한다. 그렇게 생각하는 이유는 score() 메소드로 평가한 점수들의 차이와 높은 Precision점수 두 가지이다. 우선, SVM모델의 trainset, testset에 대한 점수는 다른 모델들과 달리 가장 높은 점수를 보이고 있다. 두 번째로는 classfication_report메소드를 통해서 알 수 있는 높은 Precision 점수 때문이다. load_digits dataset은 손글씨를 분류하는 문제이다. Positive값 중 FP를 걸러내야 하기 때문에 높은 Precision 점수를 가진 SVM 모델이 적합하다고 생각한다.

# 12번 노드 : load_wine

## 필요한 모듈 import하기

In [152]:
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

feature와 label 넘파이로 변환

In [153]:
wine = load_wine()
wine_data=wine.data
wine_label=wine.target

데이터 크기 확인하기

In [154]:
print(wine_data.shape)
print(wine_label.shape)

(178, 13)
(178,)

target_name 확인하기

In [155]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

features_names 확인하기

In [156]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

라벨을 포함한 데이터프레임 만들기

In [157]:
wine_df = pd.DataFrame(data=wine.data, columns=wine.feature_names)
wine_df['label'] = wine.target
wine_df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,label
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

describe 메소드 사용하기

In [158]:
wine_df.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,label
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000

describe를 통해 feature 모두에 null값이 없다는 것을 확인하고 DataFrame의 통계를 간략하게 파악할 수 있다.

## Trainset과 Testset 구분하기

In [159]:
X_train, X_test, y_train, y_test = train_test_split(wine_data, wine_label, test_size=0.2, random_state= 30)

## DecisionTreeClassifier 모델 학습 및 평가

In [160]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(random_state=40)

decision_tree.fit(X_train, y_train)
print(decision_tree.score(X_train, y_train))
print(decision_tree.score(X_test, y_test))

1.0
0.8333333333333334

trainset과 testset의 평가점수가 많은 차이를 보이기 때문에 이는 과대 적합에 해당하기 한다. 고로, DecisionTreeClassifier 모델은 분류하기에 부적합한 모델이다.

## RandomForestClassifier 모델 학습 및 평가

In [161]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(random_state=40)

random_forest.fit(X_train, y_train)
print(random_forest.score(X_train, y_train))
print(random_forest.score(X_test, y_test))

1.0
0.9722222222222222

trainset과 testset의 평가점수가 큰 차이가 나지 않기 때문에 과대 적합이라고 보기 어렵다. 고로, classification_report메소드를 통해서 confusion matrix를 알아보고자 한다.

In [162]:
y_pred = random_forest.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96        11
           1       1.00      0.94      0.97        16
           2       1.00      1.00      1.00         9

    accuracy                           0.97        36
   macro avg       0.97      0.98      0.97        36
weighted avg       0.97      0.97      0.97        36

## SVM 모델 학습 및 평가

In [163]:
from sklearn import svm
svm_model = svm.SVC(random_state = 40)

svm_model.fit(X_train, y_train)
print(svm_model.score(X_train, y_train))
print(svm_model.score(X_test, y_test))

0.7112676056338029
0.6944444444444444

모델 평가가 전체적으로 낮은 과소 적합을 보이기 때문에 SVM모델 사용하는 것은 적절치 않아 보인다.

## SGD Classifier 모델 학습 및 평가

In [164]:
from sklearn.linear_model import SGDClassifier
sgd_model = SGDClassifier(random_state=40)

sgd_model.fit(X_train, y_train)
print(sgd_model.score(X_train, y_train))
print(sgd_model.score(X_test, y_test))

0.5563380281690141
0.4444444444444444

SGD classifier 역시 과소적합을 보이기 때문에 사용하기 적절치 않아 보인다.

## LogisticRegression 모델 학습 및 평가

In [165]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

logistic_model = LogisticRegression(random_state=40)

logistic_model.fit(X_train, y_train)
print(logistic_model.score(X_train, y_train))
print(logistic_model.score(X_test, y_test))

0.9647887323943662
0.9722222222222222

trainset보다 testset이 더 점수가 높아서 과소적합이라고 볼 수 있다. 그러므로 LogisticRegression은 분류모델로 사용하기 적절하지 않다.

DecisionTreeClassifier는 과대적합이 발생하고 SVM, SGD, LogisticRegression 모델들은 과소적합이 발생한다. 고로 위와같은 문제가 발생하지 않는 RandomForestClassifier 모델을 사용하는 것이 적합하다.

# 13번 노드 : load_breast_cancer

## 필요한 모듈 import 하기

In [166]:
import pandas as pd
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

feature와 label을 위한 변수 지정

In [167]:
breast_cancer = load_breast_cancer()
breast_cancer_data = breast_cancer.data
breast_cancer_label = breast_cancer.target

데이터 크기 확인하기

In [168]:
print(breast_cancer_data.shape)
print(breast_cancer_label.shape)

(569, 30)
(569,)

라벨 값 확인하기

In [169]:
breast_cancer_label

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1])

In [170]:
breast_cancer.target_names

array(['malignant', 'benign'], dtype='<U9')

target_names와 label값을 파악함으로써 우리는 이진 분류라는 것을 파악할 수 있다.

In [171]:
breast_cancer_df = pd.DataFrame(data=breast_cancer_data, columns=breast_cancer.feature_names)
breast_cancer_df['label'] = breast_cancer.target
breast_cancer_df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,label
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [172]:
breast_cancer_df.describe()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,label
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946,0.627417
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,0.000000
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460,0.000000
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040,1.000000
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000

Trainset과 Testset 분류하기

In [173]:
X_train, X_test, y_train, y_test = train_test_split(breast_cancer_data, breast_cancer_label, stratify=breast_cancer_label ,random_state=8)

## DecisionTreeClassifier 모델 학습과 평가

In [174]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()

decision_tree.fit(X_train, y_train)
print(decision_tree.score(X_train, y_train))
print(decision_tree.score(X_test, y_test))

1.0
0.8531468531468531

trainset이 과대적합을 보이기 때문에 적절해보이지 않는다.

## RandomForestClassifier 모델 학습 및 평가

In [176]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier()

random_forest.fit(X_train, y_train)
print(random_forest.score(X_train, y_train))
print(random_forest.score(X_test,y_test))

1.0
0.9790209790209791

In [177]:
y_pred = random_forest.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.96      0.97        53
           1       0.98      0.99      0.98        90

    accuracy                           0.98       143
   macro avg       0.98      0.98      0.98       143
weighted avg       0.98      0.98      0.98       143

## SVG모델 학습 및 평가

In [178]:
from sklearn import svm
svm_model = svm.SVC()

svm_model.fit(X_train, y_train)
print(svm_model.score(X_train, y_train))
print(svm_model.score(X_test, y_test))

0.9131455399061033
0.9300699300699301

trainset이 과소적합을 보이기 때문에 적당하지 않다.

## SDGClassifier모델 학습 및 평가

In [180]:
from sklearn.linear_model import SGDClassifier
sgd_model = SGDClassifier()

sgd_model.fit(X_train, y_train)
print(sgd_model.score(X_train, y_train))
print(sgd_model.score(X_test,y_test))

0.8615023474178404
0.8671328671328671

trainset과 과소적합을 보이기 때문에 적절하지 않다.

## LogisticRegression 모델 학습 및 평가

In [181]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

logistic_model = LogisticRegression()

logistic_model.fit(X_train, y_train)
print(logistic_model.score(X_train,y_train))
print(logistic_model.score(X_test,y_test))

0.9577464788732394
0.951048951048951

In [182]:
y_pred = logistic_model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.94      0.93        53
           1       0.97      0.96      0.96        90

    accuracy                           0.95       143
   macro avg       0.95      0.95      0.95       143
weighted avg       0.95      0.95      0.95       143

다음 모델들 중에서 적절한 두 가지 모델은 RandomForestClassifier 모델과 LogisticRegression이다. 그러나 두 모델 중 가장 우수한 모델은 RandomForestClassifier이다. 여기에는 두 가지 이유가 있다. 우선 높은 trainset, testset평가점수이다. 그리고 이 모델이 적용하는 문제가 유방암이 악성인지 아닌지에 대한 문제이다. 그러므로 precision보다 recall점수를 좀 더 유심히 봐야한다. 악성인데 악성이 아니라고 판단하는 경우에는 문제가 발생할 수 있기 때문이다. 그래서 RandomForestClassifier가 가장 적절한 모델이다.

# 회고

Exploration #1은 나에게 뜻깊은 노드다. 처음으로 머신러닝으로 전 과정을 실습하는 과정이기 때문이다. 그렇기 때문에 잘하려고 노력했다. 그러나 처음은 늘 그렇듯 잘하려고 노력하다가 무언가를 빠뜨려서 늘 아쉬운 것 같다. '조금만 더 해볼걸'이라는 마음이 아직도 가시지 않는다. 물론 이 노드는 지금을 원본으로 평가 받겠지만 이후 조금 더 성장한 시점에서 다시 볼 생각이다. 얼마나 서툴렀는지 그럼에도 얼마나 노력했는지를 돌아보게 될 노드인 것 같다. 물론 회고라서 아쉬운 소리를 늘어지게 했지만 학업적 성취 역시 언급해야 할 것 같다.

학업적으로는 물론 노드를 참고하기는 했지만, 성취는 분명 있었다. 이론적으로만 알던 것들을 실습할 수 있었다. Confusion Matrix의 True Positive, True negative, FalsePositive, FalseNegative를 아리송하게 이해했었는데 확실히 이해한 거 같다.